# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [26]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [27]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [28]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [29]:
data_df = data.groupby(['CustomerID','ProductName'], as_index=False)[['Quantity']].sum()
data_df

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [30]:
pivot_df = data_df.pivot_table(index='ProductName', columns='CustomerID', values='Quantity').fillna(0)
pivot_df

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [31]:
euclid_dist_norm = pd.DataFrame(1/(1 + squareform(pdist(pivot_df.T, 'euclidean'))),
                                index=pivot_df.columns,
                                columns=pivot_df.columns)

euclid_dist_norm

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [32]:
similar_customers = euclid_dist_norm[200].nlargest(6) #selected 6 because the top one is the selected ID with itself
similar_customers

CustomerID
200     1.000000
3317    0.084959
1072    0.083972
3535    0.082403
1920    0.082100
3909    0.080920
Name: 200, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [33]:
selected_df = data[data['CustomerID'].isin(similar_customers[1:].index)]
selected_df

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
130,3909,Keri,Stafford,509197,270,Cheese Cloth No 100,1
242,3535,Lana,Peters,2399506,270,Cheese Cloth No 100,1
448,3909,Keri,Stafford,1834282,432,Beer - Original Organic Lager,1
531,1920,Cheri,Mason,1733830,432,Beer - Original Organic Lager,1
928,3909,Keri,Stafford,4776765,417,"Lamb - Pieces, Diced",1
...,...,...,...,...,...,...,...
66357,3535,Lana,Peters,6491954,423,"Fish - Scallops, Cold Smoked",1
66650,1920,Cheri,Mason,6482682,15,"Spoon - Soup, Plastic",1
66703,3909,Keri,Stafford,739301,71,Cheese - Wine,1
67010,3317,Chandra,Benitez,6497872,318,Ecolab - Solid Fusion,1
67609,3317,Chandra,Benitez,2179674,175,Oil - Safflower,1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [34]:
selected_df = selected_df.groupby(['ProductName'], as_index=False)[['Quantity']].sum().sort_values(by=['Quantity'], ascending=False)
selected_df

                         ProductName  Quantity
159     Soup - Campbells Bean Medley         4
103  Muffin - Carrot Individual Wrap         3
8                           Bay Leaf         3
136                    Pork - Kidney         3
129            Pepper - Black, Whole         3
..                               ...       ...
86                              Kiwi         1
87             Knife Plastic - White         1
90                        Lambcasing         1
91                Lentils - Red, Dry         1
206                    Yoghurt Tubes         1

[207 rows x 2 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [53]:
selected_customer_records = data[data['CustomerID']==200].sort_values(by='Quantity', ascending=True)

In [54]:
merged_df = pd.merge(selected_df, selected_customer_records, on='ProductName', how='left').fillna(0)
merged_df

,ProductName,Quantity_x,CustomerID,FirstName,LastName,SalesID,ProductID,Quantity_y
0,Soup - Campbells Bean Medley,4,0.0,0,0,0.0,0.0,0.0
1,Muffin - Carrot Individual Wrap,3,0.0,0,0,0.0,0.0,0.0
2,Bay Leaf,3,0.0,0,0,0.0,0.0,0.0
3,Pork - Kidney,3,0.0,0,0,0.0,0.0,0.0
4,"Pepper - Black, Whole",3,200.0,Rene,Mercado,345416.0,187.0,1.0
...,...,...,...,...,...,...,...,...
207,Kiwi,1,200.0,Rene,Mercado,4502942.0,21.0,1.0
208,Knife Plastic - White,1,0.0,0,0,0.0,0.0,0.0
209,Lambcasing,1,0.0,0,0,0.0,0.0,0.0
210,"Lentils - Red, Dry",1,200.0,Rene,Mercado,5306421.0,152.0,1.0
211,Yoghurt Tubes,1,0.0,0,0,0.0,0.0,0.0

In [55]:
recommended_prod = merged_df[merged_df['CustomerID'] == 0][['ProductName']][:5]
recommended_prod

                       ProductName
0     Soup - Campbells Bean Medley
1  Muffin - Carrot Individual Wrap
2                         Bay Leaf
3                    Pork - Kidney
8                      Wanton Wrap

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [62]:
my_dict = {}
my_list=list(data['CustomerID'].unique())

similar_customers = euclid_dist_norm[200].nlargest(6)
selected_df = data[data['CustomerID'].isin(similar_customers[1:].index)]
selected_df = selected_df.groupby(['ProductName'], as_index=False)[['Quantity']].sum().sort_values(by=['Quantity'], ascending=False)
selected_customer_records = data[data['CustomerID']==200].sort_values(by='Quantity', ascending=True)
merged_df = pd.merge(selected_df, selected_customer_records, on='ProductName', how='left').fillna(0)
recommended_prod = merged_df[merged_df['CustomerID'] == 0][['ProductName']][:5]

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.